svg{
  width: 100%;
  max-width: 700px;
  height: 400px;
}

svg > text{
  font-size: 1.3em;
  font-family: sans-serif;
}

.title{
  font-size: 1.5em;
  text-anchor: middle;
}

rect{
  fill: steelblue;
}
