/* GENERAL STYLING */
*{
  font-family: 'Roboto', sans-serif;
}

*::selection{
  background: #BA3E8D;
  color: white;
}

body{
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(190,190,190,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

h1{
  font-size: 1.8em;
  padding: 8vh 0;
  color: #2A292F;
  font-weight: normal;
}

h2{
  font-size: 1.3em;
  font-weight: normal;
}

.chartCollection{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #2A292F;
}

.chartCollection>form{
  border-radius: 1em;
  border: 1px solid #A5A5A6;
  padding: 0 1em 1em 1em;
  margin: 1em;
  max-width: 16em;
}

.chartCollection>form ul{
  list-style: none;
  padding: 0;
}

.chartCollection>form ul li{
  padding: .5em 0;
}

.chartCollection input{
  display: none;
}

.chartCollection>form ul li label:hover, a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.legendaItem{
  display: flex;
  align-items: center;
}

.legendaItem p{
  margin: 0;
  padding-left: 1em;
}

input[type="checkbox"]:checked + label {
  color: #F57624;
  font-weight: bold;
}

.chartCollection h2{
  border-bottom: 1px solid #2A292F;
}

.totalDisabledCapacityColor, .totalCapacityColor{
  width: 1.3em;
  height: 2.2em;
  flex-shrink: 0;
}

.totalDisabledCapacityColor{
  background: #BA3E8D;
}

.totalCapacityColor{
  background: #1A6E93;
}

article{
  border-top: 1px solid #2A292F;
  width: 80%;
}

article h2, article ul{
  text-align: center;
  align-self: center;
  list-style: none;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;
}

/* D3 CHART STYLING */
svg{
  width: 700px;
  height: 400px;
}

rect{
  opacity: .8;
  /* transition: ease-in .2s; */
}

rect:hover{
  opacity: 1;
}

text{
  fill: #2A292F;
}

.tick line{
  stroke: #A5A5A6;
}

svg > text{
  font-size: 1.5em;
}

.title{
  font-size: 1.5em;
  text-anchor: middle;
  fill: #2A292F;
}

.xAxis text{
  text-anchor: start;
}

.xAxis text.xAxisName, .yAxisName{
  font-size: 2em;
  text-anchor: middle;
  fill: #2A292F;
}

/* .yAxisName, .xAxisName{
  font-size: 2em;
  text-anchor: middle;
  fill: #F2F2F2;
} */
