body{
  background: #2A292F;
}

svg{
  width: 100%;
  max-width: 700px;
  height: 400px;
  background: #2A292F;

}

text{
  fill: #F2F2F2;
}

.tick line{
  stroke: #A5A5A6;
}

svg > text{
  font-size: 1.5em;
  font-family: sans-serif;
}

.title{
  font-size: 1.5em;
  text-anchor: middle;
  fill: #F2F2F2;
}

.xAxis text{
  text-anchor: start;
}

/* rect{
  fill: red;
  opacity: .8;
} */

.yAxisName, .xAxisName{
  font-size: 2em;
  text-anchor: middle;
  fill: #F2F2F2;
}
